.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card_fav {
    cursor: default;
    height: 315px;
    width: 170px;
    box-shadow: 1.5px 1.5px 6px rgb(141, 0, 0);
    border-radius: 12px 12px 5px 5px;
    position: relative;
}

    .card_fav #Photo {
        height: 200px;
        width: 170px;
        border-radius: 12px 12px 0 0;
        box-shadow: 1px 1px 3px rgb(0, 0, 0);
        object-fit: cover;
    }

.ProductPhoto {
    display: flex;
    position: relative;
}

.card_fav #favourites {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.Text {
    padding: 0;
}

.cart-btn {
    position: absolute;
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 0 0 5px 5px;
    border: 0;
    background-color: rgb(141, 0, 0);
    color: rgb(234, 234, 234);
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .cart-btn:hover {
        background-color: rgb(180, 0, 0);
    }

/* Адаптация для избранного */
.favorites-section .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
}

.empty-state {
    color: #3a3a3a;
    text-align: center;
    padding: 60px 20px;
}

.empty-title {
    font-size: 37px;
    margin-bottom: 0;
}

.empty-text {
    font-size: 25px;
    margin: 0 auto 103px;
}

.load-more-area {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
}

.more-btn {
    padding: 12px 30px;
    background-color: #8d0000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .more-btn:hover {
        background-color: #a50000;
    }

.page-counter {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.current-page {
    font-weight: 600;
}

.subheader {
    height: 50px;
    display: flex;
    align-content: center;
/*    justify-content: flex-end;*/
    margin-bottom: 6px;
}

.sort {
    height: 30px;
    width: 170px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 8px;
    background-color: white;
}
