@page
@model WebApplication1.Pages.OrdersModel
@{
    ViewBag.Title = "Заказы";
}
<section class="sectionBasket">
    <div class="products-main">
        <div class="subheaderBasket">
            <a href="Basket" class="basket">Корзина</a>
            <a href="Orders" class="basket  active">Заказы</a>
        </div>
		@* <div>
           @for (int i = 0; i < 3; i++)
            {
                <div class="cardBasket">
                    <div class="ProductPhotoBasket">
                        <input type="checkbox" class="choice" />
                        <img src="https://themes.muffingroup.com/be/event6/wp-content/uploads/2021/04/event6-ourteam-pic5.jpg" alt="" id="PhotoBasket">
                    </div>
                    <div class="product-info">
                        <h3 class="nameProduct">New lolтоормпрлл</h3>
                        <div class="count">
                            <button class="editCount">-</button>
                            <h3>3</h3>
                            <button class="editCount">+</button>
                            <button class="del">
                                <img src="/img/basket/delete-o-svgrepo-com.svg" />
                            </button>
                        </div>
                    </div>
                    <h3 class="costBasket">2.499 $</h3>
                </div>
            } 
        </div> *@
    </div>
</section>